### KNN

is one of the many supervised machine learning algorithms that we use for data mining as well as machine learning. Based on the similar data, this classifier then learns the patterns present within. It is a non-parametric and a lazy learning algorithm. By non-parametric, we mean that the assumption for underlying data distribution does not hold valid. In lazy loading, there is no requirement for training data points for generating models.
The training data is utilized in testing phase causing the testing phase slower and costlier as compared with the training phase.

In [38]:
import pandas as pd
i=[25,35,45,20,35,52,23, 40,60,48,33]
l=[40000,60000,80000,20000,120000,18000,90000,62000,100000,220000,150000]
o=[0,0,0,0,0,0,1,1,1,1,1]
m=pd.concat([pd.Series(i),pd.Series(l),pd.Series(o)],axis=1)
s=[]
for j in range(0,len(i)):
    s.append(math.sqrt(((i[j]-a)**2) + ((l[j]-b)**2)))
m[3]=pd.Series(s)
m.columns=['age','income','defaulter','distance']
print(m)

    age  income  defaulter       distance
0    25   40000          0  102000.002593
1    35   60000          0   82000.001030
2    45   80000          0   62000.000073
3    20   20000          0  122000.003213
4    35  120000          0   22000.003841
5    52   18000          0  124000.000065
6    23   90000          1   52000.006010
7    40   62000          1   80000.000400
8    60  100000          1   42000.001714
9    48  220000          1   78000.000000
10   33  150000          1    8000.014062

# implementation of KNN

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

In [4]:
tdata=pd.read_csv("TShirt_size.csv")
tdata.head(4)

   Height (in cms)  Weight (in kgs) T Shirt Size
0              158               58            M
1              158               59            M
2              158               63            M
3              160               59            M

In [52]:
x=tdata.iloc[:,:2]
y=tdata['T Shirt Size']
x.head(4)

   Height (in cms)  Weight (in kgs)
0              158               58
1              158               59
2              158               63
3              160               59

In [53]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
#80% training data , 20% test data

print(x_train[:5])

    Height (in cms)  Weight (in kgs)
2               158               63
16              170               64
17              170               68
9               165               61
7               160               64

In [54]:
knn = KNeighborsClassifier(n_neighbors=5)      #n=5
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)

In [55]:
y_test

1     M
6     M
8     L
10    L
14    L
4     M
Name: T Shirt Size, dtype: object

In [56]:
y_pred

array(['M', 'L', 'L', 'L', 'L', 'M'], dtype=object)

In [57]:
l=[y_test != y_pred]
len(l)         #number of misclassification/
# 1/6 is misclassfication error
# 5/6 is accuracy of the model

1

In [33]:
print('knn score', knn.score(x_test,y_test)*100)

knn score 83.33333333333334

In [34]:
from sklearn import metrics
print('accuracy=', metrics.accuracy_score(y_test, y_pred))

accuracy= 0.8333333333333334

In [58]:
np.unique(y_test)

array(['L', 'M'], dtype=object)

In [35]:
cm = confusion_matrix(y_test, y_pred)
print('confusion matrix is : ', cm, sep='\n')
#   0  1
#0:[TN FP
#1: FN TP]
# in our example, 0 -> L and 1 -> M
#x-axis : predict y-axis: actual

confusion matrix is :
[[3 0]
 [1 2]]

In [37]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).reshape(-1)
print('true negative:', tn)
print('false positive:', fp)
print('false negative:', fn)
print('true positive:', tp)

true negative: 3
false positive: 0
false negative: 1
true positive: 2